<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head" </head>
    <body>

        <div class="container">
            <header th:replace ="/fragments/header :: header" </header>
        </div>

        <main class="container">
            <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary inicio" >
                <div class="row px-0 text-dark ">
                    <h1 class="display-4 fst-italic fw-bold" >Bienvenido a EggNews!!</h1>
                    <h3 class="fw-semibold" th:if="${session.usuariosession != null}" th:text="'Hola de vuelta ' + ${session.usuariosession.nombre} " ></h3>
                    <h1 class="fw-semibold" th:if="${session.usuariosession.rol == ADMIN }" th:text="'SEÑOR ' + ${session.usuariosession.rol}" ></h1>
                </div>    

                <div class="row d-flex">


                    <div class="card border-0 mb-3 col-7" >
                        <div class="card-header d-flex align-items-center justify-content-evenly bg-warning"><h4 class="fw-bold">EggNew's</h4> Credencial</div>
                        <div class="row g-0">
                            <div class="col-md-4 d-flex">
                                <div class="imagen-tarjeta-perfil d-flex">
                                    <img  th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="Img logo">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">

                                    <table class="table ">
                                        <tbody  >
                                            <tr class="border-top-0 border-end-0 border-start-0 border-3 border-warning">
                                                <th scope="row">Nombre : </th>
                                                <td th:text= "${session.usuariosession.nombre}"></td>
                                            </tr>
                                            <tr class="border-top-0 border-end-0 border-start-0 border-3 border-warning">
                                                <th scope="row">Email : </th>
                                                <td th:text= "${session.usuariosession.email}"></td>
                                            </tr>
                                            <tr class="border-top-0 border-end-0 border-start-0 border-3 border-warning">
                                                <th scope="row">Username : </th>
                                                <td th:text= "${session.usuariosession.nombreUsuario}"></td>
                                            </tr>
                                            <tr class="border-top-0 border-end-0 border-start-0 border-3 border-warning">
                                                <th scope="row">Rol : </th>
                                                <td th:text= "${session.usuariosession.rol}"></td>
                                            </tr>

                                        </tbody>
                                    </table>

                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div  class="card-footer bg-warning ">
                            <p class="fw-semibold " th:text= "'User Id : '+${session.usuariosession.id}" ></p>
                        </div>
                    </div>




                    <div class="row d-flex " >
                        <div class="col-auto">
                            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Show a second modal and hide this one with the button below.
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Hide this modal and show the first with the button below.
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Control Usuarios</button>
                        </div>

                        <div class="col-auto">
                            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Show a second modal and hide this one with the button below.
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Hide this modal and show the first with the button below.
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Control Noticias</button>
                        </div>
                    </div>



                </div>





            </div>
        </div>



    </main>


    <!-- comment
    <main class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary inicio" >
            
            <div class="col-lg-6 px-0 text-dark ">
                <h1 class="display-4 fst-italic">Bienvenido a EggNews!!</h1>
                <h3 th:if="${session.usuariosession != null}" th:text="'Hola de vuelta ' + ${session.usuariosession.nombre} " >encontra todos los libros aqui</h3>
                <h1 th:if="${session.usuariosession.rol == ADMIN }" th:text="'SEÑOR ' + ${session.usuariosession.rol}" ></h1>

                <img  th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="Img logo">
                
                <h1 th:text="'SU ID ES: ' + ${session.usuariosession.id}" ></h1>

                
            </div>
        </div>


    </main>
    -->    
    <div class="container">
        <footer th:replace="/fragments/footer :: footer" </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>